<div class="mdui-center">
    <div class="mdui-center article article-bg mdui-shadow-2">
        <div class="mdui-container" style="padding-top: 20px; padding-bottom: 20px;">
            <%- page.content%>
        </div>  
    </div>
</div>

