<div class="article mdui-center mdui-shadow-2">
  <h3>共计&nbsp;<%= site.categories.length %>&nbsp;个分类</h3>
  <% site.categories.sort('name').each(function(item){ %>
      <% if(item.posts.length){ %>
          <div class="mdui-chip">
              <span class="mdui-chip-icon"><%= item.posts.length %></span>
              <a class="mdui-chip-title" href="<%- url_for(item.path) %>"><%= item.name %></a>
          </div>
      <% } %>
  <% }); %>
</div>
