
<%-partial('partials/recent-posts')%>

<!--页码-->
<div id="paginator">
  <%-paginator({
    prev_text: '<i class="mdui-icon material-icons">&#xe5cb;</i>',
    next_text: '<i class="mdui-icon material-icons">&#xe409;</i>',
  })%>
</div>
</br>
