<!--博文详细内容-->
<%- css('css/post.css')%>
<div id="content" class="inner">
  <div id="main-col" class="alignleft">
    <div id="wrapper">
      <article>
        <%- page.content%>
      </article>
    </div>
  </div>

  <aside id="sidebar" class="alignright mdui-shadow-2 mdui-hoverable">
    <div class="widget">
      <h3 class="title">目录</h3>
      <%- toc(page.content, {
        class: 'post-toc',
        list_number: false
      }) %> 
    </div>
  </aside>
</div>
</article>
<!-- <%- partial('partials/talk') %> -->