<!--博文详细内容-->
<%- css('css/post.css')%>
<div>
  <div class="article-content mdui-center">
    <article>
      <%- page.content%>
    </article>
  </div>


  <aside id="sidebar" class="mdui-shadow-2 mdui-hoverable">
    <div class="widget">
      <h3 class="title">目录</h3>
      <%- toc(page.content, {
        class: 'post-toc',
        list_number: false
      }) %> 
    </div>
  </aside>
</div>
<!-- <%- partial('partials/talk') %> -->