.mdm_theme_dark{
    background: #303030;
}

.mdm_theme_dark .mdui-color-indigo{
    background-color: #212121 !important;
}

.mdm_theme_dark #summary,
.mdm_theme_dark .title_font{
    color: #9E9E9E;
}

  /*post item背景*/
.mdm_theme_dark .article-content,
.mdm_theme_dark .mdui-panel-item,
.mdm_theme_dark .post_tag,
.mdm_theme_dark #post-item{
    background-color: #424242 !important;
}

.mdm_theme_dark .mdui-panel-item .mdui-panel-item-title,
.mdm_theme_dark .info,
.mdm_theme_dark figure .line,
.mdm_theme_dark article li,
.mdm_theme_dark article p{
  color: rgba(255,255,255,0.54);
}

/*代碼背景 */
.mdm_theme_dark figure{
    border-color: rgba(255, 255, 255, 0.22);
}
.mdm_theme_dark figure .comment{
    color: rgb(106, 153, 85);
}

.mdm_theme_dark .article-content a{
  color: #F44336;
}
.mdm_theme_dark .article-content h1, h2,h3{
  color: #009688;
}