.article-content{
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

#sidebar .widget .title {
  padding: 15px 20px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  background-color: white;
}

article li,
article p{
  color: rgba(0,0,0,0.54);
}

ul li,
ol li,
p{
  line-height: 1.8;
}

code{
  color: #c7254e;
  padding: 2px 6px;
  background-color: #d1d1d1;
}