
.comment,
.quote {
  color: #93a1a1;
}

/* Solarized Green */
.keyword,
.selector-tag,
.addition {
  color: #a71d5d;
}

/* Solarized Cyan */
.number,
.string,
.meta .meta-string,
.literal,
.doctag,
.regexp {
  color: #859900;
}

/* Solarized Blue */
.title,
.section,
.name,
.selector-id,
.selector-class {
  color: #900;
}

/* Solarized Yellow */
.attribute,
.attr,
.variable,
.template-variable,
.class .title,
.type {
  color: #b58900;
}

/* Solarized Orange */
.symbol,
.bullet,
.subst,
.meta,
.meta .keyword,
.selector-attr,
.selector-pseudo,
.link {
  color: #0086b3;
}

/* Solarized Red */
.built_in,
.deletion {
  color: #dc322f;
}

.formula {
  background: #eee8d5;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
.line{
  color: black;
}
