<% if (page.posts.length > 0) { %>
<div id="recent-posts" class="mdui-center">
  <% var index = 0; %>
  <% page.posts.limit(10).each(post => { %>
    <% if(post.video){ %>
      <%-partial('partials/videoitem', {item:post})%>
    <% }else{ %>
      <%-partial('partials/articleitem', {item:post})%>
    <% } %>

    <% if((index+1)%10==0 && theme.SEO.GoogleAd==true){ %>
      <!--文章内容广告-->
      <%- partial('partials/ad_item') %>
    <% } %>

  <% index++; }); %>
</div>
<% } %>