<div class="mdui-center" style="width:95%;max-width:550pt;">
  <h3>全部文章</h3>
</div>
<% if (page.posts.length > 0) { %>
<div id="recent-posts" class="mdui-center">
  <% page.posts.limit(10).each(post => { %>
    <% if(post.video){ %>
      <%-partial('partials/videoitem', {item:post})%>
    <% }else{ %>
      <%-partial('partials/articleitem', {item:post})%>
    <% } %>
  <% }); %>
</div>
<% } %>