<footer class="footer mdui-color-indigo">
</br>
<div id="bottom-inner" >
    Copyright &copy; <%=config.author%>&nbsp&nbsp<%= new Date().getFullYear() %>  &nbsp
    Theme By <a href="https://github.com/TonyChenn/hexo-theme-mdm">mdm</a>
    <iframe style="margin-left: 2px; margin-bottom:-5px;"
        src="https://ghbtns.com/github-btn.html?user=TonyChenn&repo=hexo-theme-mdm&type=star&count=true" 
        frameborder="0" scrolling="0" width="91px" height="20px">
    </iframe>
</br>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    总访问量 <span id="busuanzi_value_site_pv"></span> 次&nbsp&nbsp&nbsp总访客<span id="busuanzi_value_site_uv"></span>人
</div>
</br>
</footer>