<footer class="footer mdui-color-indigo">
    </br>
    <div id="bottom-inner">
      Site by <%=config.author%> © 2017-2019
      <br>
      Theme By <a href="">mdm</a>
      <br>
          <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
          总访问量 <span id="busuanzi_value_site_pv"></span> 次&nbsp&nbsp&nbsp
          总访客<span id="busuanzi_value_site_uv"></span>人
    </div>
    </br>
</footer>