<% 
    var bg = theme.index_header_img;
    var title = page.title;
    if(is_post()){
        bg = page.img;
        title = page.title;
    }
    else if(is_current('/tags')){
        title = __('global.tags');
    }
    else if(is_current('/about')){
        title=__('global.about')
    }
    else if(is_archive()){
        title = __('global.archives');
    }
    else{
        title = config.title;
    }

    if(bg){}else{bg=theme.no_img;}
%>

<div class="header" style="background-image: url(<%= bg %>)">
    <div class="mdui-card-media" style="overflow: hidden;">
        <div class="header-content">
            <span class="header_title"><%= title %></span></br>
            <p id="hitokoto">一言加载中...</p>
        </div>
    </div>
</div>