<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= config.title %></title>
    <!--一言-->
    <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
    <!--mdui-->
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
    <!--jquery-->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--theme-->
    <%- css('css/mdm.css')%>
    <script src="/js/mdm.js"></script>
    <!--高亮-->
    <%- css('css/solarized-light.css')%>
    <!--本地搜索-->
    <script src="js/search.js"></script>
</head>