<div id="post-item" class="mdui-shadow-1 mdui-center mdui-ripple mdui-hoverable">
    <div class="mdui-card-media">
        <video class="mdui-video-fluid" style="max-height: 450px;" controls>
            <source src="<%- item.video %>" type="video/mp4" >
        </video>
    </div>
    <div class="mdui-card-actions">
        <p id="summary" class="mdui-text-color-black-icon" style="text-align:center; font-weight:100;"><%- item.content %></p>
        <div class="mdui-divider"></div>
        <span class="info">
            <i class="mdui-icon material-icons">&#xe923;</i>
            <%- item.date.format("YYYY-MM-DD") %>
        </span>
    </div>
</div>